<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.clintarmstrong.fbreader.plugin.ospritz">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="@string/title" android:icon="@drawable/fbreader_plugin">
        <receiver android:name="net.clintarmstrong.fbreader.plugin.ospritz.PluginInfo">
            <intent-filter>
                <action android:name="android.fbreader.action.plugin.REGISTER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </receiver>
        <activity android:name=".SpritzActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.plugin.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="data.fbreader.org" android:scheme="http" android:path="/plugin/ospritz" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
    </application>
</manifest>
